docs/.~lock.table.csv#
mips/
docs/report/__latexindent_temp.tex
docs/report/report.aux
docs/report/report.fdb_latexmk
docs/report/report.fls
docs/report/report.log
docs/report/report.out
docs/report/report.pdf
docs/report/report.synctex.gz
